h1 {
    /* r g b */
    /* 0->9 -> a->f */
    /* color: #ff000;  */
    /* 0 ->225 */
    color: rgb(255,0,0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 30px;
}

/* universal selector */
*{
    /* color:red; */
    /* text-transform: uppercase; */
    margin: 0px;
    padding: 0cap;
}
/* tag selector/element selector */
h2 {
    color: red;
    text-align: center;
}

/* attribute selector */
a[title="google"]{
    color: red;
    text-decoration: none;
}
/* id selector */
#idselector {
    color: chartreuse;
    line-height: 30px;
    letter-spacing: 20px;
    text-indent: 50px;
    font-style: italic;
    text-transform: capitalize;
}

/* class selector */
.class {
    color: red;
    word-spacing: 30px;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 25px;
}

/* desc selector */
.desc a{
    color: greenyellow;
}

/* child selector */
.child>a{
    color:red;
}

/* pseudo */
a:link {
    color: crimson;
}

a:hover {
    color: chartreuse;
}

a:active {
    color: blue;
}

a:visited {
    color: fuchsia;
}

/* Target */
:target {
    color: forestgreen;
    border: 20px solid rebeccapurple;
    letter-spacing: 20px;
}

/* border */
.borderone{
    border: 5px dashed red;
}
.bordertwo{
    border-left:20px yellow solid;
    border-top: 20px red solid;
}
.borderthree{
   /* border-style: solid; */
   /* all four */
   /* border-style:solid dotted ; */
   /* T&B / L&R */
   /* border-style:dashed solid dotted; */
   /* T / L&R /B */
   border-style: dotted double solid dashed;
   /* T / R / B / L */
}
.borderwidth{
    border-width: 20px 5px 10px 30px;
    border-style: dotted;
    border-color: red green yellow skyblue ;
}
/* Margin */
.margin{
    border: 3px solid red;
    margin-top: 100px;
}
/* Padding */
.padding{
    border: 2px solid black;
    padding-top: 40px;

}
/* layout */
.inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}
.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

/* float */

.float_left img{
    
    width: 30%;
    float:left
}
.clear{
    clear: both;
}
.float_right img{
    
    width: 30%;
    float: right;
}
/* grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px 0px;
    color: white;
    text-align:center ;
}
.gridone{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridtwo{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:20px;
    grid-column-gap:50px;
    /* grid-gap: 50px; */
}
.gridthree,.gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
}
.rowadd{
    grid-row-start:2 ;
    grid-row-end:4 ;
}
.columnadd{
    grid-column-start: 2;
    grid-column-end: 4 ;
}
/* position */

.relative_parent{
    border: 2px;
    color: red;
    border-style: solid;
    width: 1000px;
    height: 600px;
}
.position_relative{
    border: 2px dotted rgb(11, 100, 155);
    width: 500px;
    height: 300px;
    position: relative;
    top:100px ;
    left:100px ;
}
.absolute_parent{
    border: 2px solid purple;
    width: 1000px;
    height: 600px;
    position: relative;
}
.position_absolute{
    border: 2px dotted rgb(155, 109, 11);
    width: 500px;
    height: 300px;
    top: 100px;
    left: 100px;
    position: absolute;
}
.fixed{
    position: fixed;
    top: 50px;
    right: 50px;
}
/* font */
.online_font{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

@font-face{
    font-family: Great Vibes;
    src:url(../Great_Vibes/OFL.txt);
}
.offlinefont{
    font-family: 'Great Vibes', cursive;
}